<section class="sidebar">
    <div class="sidebar-container">
        <div class="side-title">
            <span class="logo">
                <img src="../../../assets/mopcare.png" alt="mopcare logo">
                <h1>Mopcare</h1>
            </span>
        </div>
        <div class="search">
            <input type="search" name="" id="" placeholder="Search">
        </div>
        <div class="dashboard">
            <button>
                <span class="dashbtn">
                    <img src="../../../assets/Icon (1).png" alt="dashboard">
                    <a routerLink="dashboard">
                        <p>Dashboard</p>
                    </a>
                </span>
            </button>
        </div>
        <div class="lower-section">
            <div class="settings">
                <button>
                    <span class="settingsBtn">
                        <img src="../../../assets/Icon.png" alt="settings">
                        <a routerLink="settings">Settings</a>
                    </span>
                </button>
            </div>
            <div class="account">
                <div class="profileImg">
                    <img src="../../../assets/Avatar.png" alt="avatar">
                </div>
                <div class="ProfileName">
                    <p>Gbolahan Fabiyi</p>
                    <p>Gbolahan@yahoo.com</p>
                </div>
                <div class="logOut">
                    <a href="">
                        <img src="../../../assets/Icon (3).png" alt="logout">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>