<div class="board-section">
    <div class="navbar-section">
        <app-navbar></app-navbar>
    </div>
    <div class="card-section">
        <app-cards>
            <h4>Total Viewers</h4>
            <p card-figures>2,420</p>
            <span card-percent>
                40%
            </span>
            <img src="../../../assets/_Chart (1).png" alt="graph" card-img>
        </app-cards>
        <app-cards>
            <h4>Registered Members</h4>
            <p card-figures>1,210</p>
            <span card-percent>
                10%
            </span>
            <img src="../../../assets/_Chart.png" alt="graph" card-img>
        </app-cards>
        <app-cards>
            <h4>Active now</h4>
            <p card-figures>316</p>
            <span card-percent>
                20%
            </span>
            <img src="../../../assets/_Chart (1).png" alt="graph" card-img>
        </app-cards>
    </div>
    <div class="utils">
        <div class="utils-container">
            <div class="filters">
                <button>
                    <span class="filterBtn">
                        <img src="../../../assets/Icon (6).png" alt="">
                        <a>
                            <p>More Filters</p>
                        </a>
                    </span>
                </button>
            </div>
            <div class="searchBtn">
                <input type="search" name="search" id="search" placeholder="Search">
            </div>
        </div>
    </div>
    <div class="table-section">
        <!-- Get rid of this suggest you use Material UI Table or Bootstrap -->
        <table>
            <thead>
                <tr>
                    <th>
                        Created
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Status
                    </th>
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="details">
                            <p class="header">01 Sep 2022</p>
                            <p class="body">10:00 am</p>
                        </span>
                    </td>
                    <td class="mail">
                        Gbolahan@yahoomail.com
                    </td>
                    <td>
                        <span class="granted">
                            Granted
                        </span>
                    </td>
                    <td>
                        <span class="options">
                            <img src="../../../assets/Icon (8).png" alt="delete">
                            <img src="../../../assets/Icon (7).png" alt="edit">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="details">
                            <p class="header">01 Sep 2022</p>
                            <p class="body">10:00 am</p>
                        </span>
                    </td>
                    <td class="mail">
                        Gbolahan@yahoomail.com
                    </td>
                    <td>
                        <span class="granted">
                            Granted
                        </span>
                    </td>
                    <td>
                        <span class="options">
                            <img src="../../../assets/Icon (8).png" alt="delete">
                            <img src="../../../assets/Icon (7).png" alt="edit">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="details">
                            <p class="header">01 Sep 2022</p>
                            <p class="body">10:00 am</p>
                        </span>
                    </td>
                    <td class="mail">
                        Gbolahan@yahoomail.com
                    </td>
                    <td>
                        <span class="confirmation">
                            Awaiting Confirmation
                        </span>
                    </td>
                    <td>
                        <span class="options">
                            <img src="../../../assets/Icon (8).png" alt="delete">
                            <img src="../../../assets/Icon (7).png" alt="edit">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="details">
                            <p class="header">01 Sep 2022</p>
                            <p class="body">10:00 am</p>
                        </span>
                    </td>
                    <td class="mail">
                        Gbolahan@yahoomail.com
                    </td>
                    <td>
                        <span class="granted">
                            Granted
                        </span>
                    </td>
                    <td>
                        <span class="options">
                            <img src="../../../assets/Icon (8).png" alt="delete">
                            <img src="../../../assets/Icon (7).png" alt="edit">
                        </span>
                    </td>
                </tr>
                <tr>
                    <td><span class="details">
                            <p class="header">01 Sep 2022</p>
                            <p class="body">10:00 am</p>
                        </span>
                    </td>
                    <td class="mail">
                        Gbolahan@yahoomail.com
                    </td>
                    <td>
                        <span class="denied">
                            Denied
                        </span>
                    </td>
                    <td>
                        <span class="options">
                            <img src="../../../assets/Icon (8).png" alt="delete">
                            <img src="../../../assets/Icon (7).png" alt="edit">
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>